* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "urbanist", sans-serif;
}

:root {
    --bs-dark-color: #050202;
    --bs-dark-primary: #1c1c1c;
    --bs-main-color: #fff;
    --bs-primary-color: #c6c6c6;
    --secondary-color: #0d324b;
    --bs-supporting-color: #c850c0;
    /* --bs-secondary-color:rgb(0, 0, 0); */
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--bs-dark-color);
}

h1 {
    font-size: 3.8rem;
}

h2 {
    line-height: 4rem;
    font-weight: 600;
    font-size: 3.4rem;
}

p {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button,
a {
    font-size: 1.15rem !important;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}

.common-heading {
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.01rem !important;
}

.common-title {
    margin-bottom: 4.2rem;
}

.common-section{
    padding:0 0 9rem 0;
}

/* navbar style */
.nav-link {
    color: var(--bs-main-color);
}

.nav-link:hover {
    color: var(--bs-main-color);
    font-weight: bold;
}

/* hero section start */
.hero-section .container {
    display: grid;
    place-content: center;
    height: inherit;
}

.bg-main {
    height: 80vh;
    position: relative;
}

.hero-video--section {
    max-width: 100%;
    /* height: auto; */
    width: 20rem;
    border-radius: 2rem;

}

.bg-color {
    background-color: var(--bs-dark-primary);
}

.text-grey {
    color: var(--bs-primary-color);
}

.custom-shape-divider-bottom-1746013042 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1746013042 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1746013042 .shape-fill {
    fill: #FFFFFF;
}

.service-section {
    padding: 6rem 0 3rem 0 !important;
}

.Icon-span {
    width: 2.5rem;
    height: 2.5rem;
    background-color: blue;
    color: var(--bs-main-color);

}

.card-box:hover {
    box-shadow: rgb(233, 163, 163) 0 8px 24px;
}

/* more-info-section style */
.more-info-section {
    background-image: linear-gradient(rgba(22, 22, 22, 0.7), rgba(22, 22, 22, 0.9)), url(https://images.unsplash.com/photo-1556807044-eaf2e0eecb6d?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 6rem 0;
    overflow: hidden;
}
.more-info-section .img-section{
    position: relative;

}
.more-info-section .img-section img{
    position: absolute;
    left: 0;
    width: 70%;
}
/* online mode styling */
.buisness-section{
    padding-top: 3rem;
}

/* carousel styling */
.carousel .card{
    background-color: #262631;
    color: var(--bs-main-color);
    transition: all 0.3s linear;
}

.carousel-linear .card p{
    color: var(--bs-main-color);
}
.carousel-inner .card:hover{
    background-color: var(--bs-main-color);
    color: var(--bs-dark-color);
}
.carousel-linear .card p:hover{
    color: var(--bs-dark-color);
}
.fa-star{
    color: var(--bs-supporting-color);
}
.carousel-indicators{
    bottom: -20%;
}
.carousel-indicators [data-bs-target]{
    width: .7rem;
    height: .7rem;    
    background-color: var(--secondary-color);
}

/* expert panel styling */
.text-grey{
    color: var(--bs-primary-color);

}
.text-light-grey{
        color: var(--bs-primary-color);
}
/* contact section styling */
.contact{
    position: relative;
}

.custom-shape-divider-top {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-top .shape-fill {
    fill: #FFFFFF; /* Change this to match your background color */
}

.contact-section .common-title{
    padding-top: 2rem;
}
.contact-section .form-section{
    width: 50%;
}
@media screen and (max-width:998px;){
    .navbar-toggler{
        border-color: var(--bs-supporting-color);
    }
    
    .navbar-toggler-icon{
        color: var(--bs-main-color);
    }
}

